.container{
	max-width: 1170px;
	margin: 10px auto;
	padding: 20px 15px;
	border: solid 1px red;
}

/*Pseudo-class :hover*/
.container strong {
	font-size: 20px;
	padding: 10px;
	border: solid 1px red;
}
.container strong:hover{
	color: green;
	cursor: pointer;
}
.container strong{
	display: block;
}
.container strong span{
	display: none;
}
.container strong:hover span{
	display: block;
}


/*Pseudo-class :link :visited :active :hover*/
#site-menu ul{
	padding-left: 0;
	list-style-type: none;
	text-align: center;
	border: solid 1px green;
}

#site-menu ul li{
	margin-right: 15px;
	margin-left: 15px;
	display: inline-block;
	border: solid 1px red;
}

#site-menu ul li a{
	font-size: 28px;
}

#site-menu ul li a:link{
	color: green;
}
#site-menu ul li a:visited{
	color: #3E2723;
}
#site-menu ul li a:active{
	color: red;
}
#site-menu ul li a:hover{
	color: orange;
}


#site-menu ul li:first-child{
	background-color: green;
}

#site-menu ul li:first-child a{
	color: white;
}









