body{
	background-color: #eee;
	font-family: sans-serif;
	padding: 0;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	border: solid 1px red;
}


/*Type selector*/
p{
	color: #414141;
	line-height: 1.45em;
}






