*,
:after,
:before{
	box-sizing: border-box;
}




@media (min-width: 576px) {
	.container{
		width: 540px;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container{
		width: 720px;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.container{
		width: 960px;
		max-width: 100%;
	}
}

@media (min-width: 1200px) {
	.container{
		width: 1170px;
		max-width: 100%;
	}
}

.container{
	margin: 0 auto;
	max-width: 1170px;
	border: solid 1px red;
}


body {
  background-color: white;
  font-family: 'Proxima Nova', sans-serif;;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  font-size: 100%;
}

p {margin-bottom: 1.3em;
	color: #212121;
font-size: 20px;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: Proxima Nova;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
	margin: 0;
	padding: 10px 0;
  font-size: 3.998em;
	color: #424242;
	text-align: center;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}



.fa-book{
	margin-right: 15px;
	font-size: 50px;
}
#header .site_nav{
	text-align: center;
	border: solid 1px red;
}
#header .site_nav ul{
	padding-left: 0;
	display: flex;
	flex: wrap;
	flex-direction: column;
	justify-content: center;
}
#header .site_nav ul li{
	display: inline-block;
	list-style: none;
	margin: 0 10px;
	border: solid 1px red;
}
@media (min-width: 768px) {
	#header .site_nav ul{
		flex-direction: row;
	}
}




/*properties*/
/*width*/
.box_width{
	border: solid 1px red;
}
.viewport p{
	width: 100%;
	margin: 0;
	font-weight: bold;
	color: green;
	padding: 8px 15px;
}
.viewport .box_width{
	background-color: lightblue;
	text-align: center;
	font-weight: bold;
	padding: 20px;
}
.viewport .box_width.percentage{
	width: 100%;
}

.viewport .box_width.pixel{
	width: 360px;
}

.viewport .box_width.em{
	width: 40em;
	font-size: 6em;
}
.viewport .box_width.em div{
	font-size: 2em;
	border: solid 1px red;
}

.viewport .box_width.rem{
	width: 40rem;
	font-size: 12rem;
}
.viewport .box_width.rem div{
	font-size: 6rem;
	border: solid 1px red;
}


/*min-width*/
.min{
	background-color: orange;
	padding: 10px;
	color: #212121;
}

.min600{
	width: 80%;
	min-width: 600px;
}

.min320{
	width: 80%;
	min-width: 240px;
}

.min50per{
	width: 100%;
	min-width: 440px;
}





