/*#list-item{
	border: solid 1px red;
	font-family: sans-serif;
	background-color: lightgreen;
	font-size: 30px;
}


.parent{
	border: solid 1px red;
}

header{
	font-size: 34px;
	border: dashed 2px red;
}

p{
	font-size: 16px;
	color: red;
}

#article{
	margin-top: 60px;
	padding: 30px 10px;
	border: solid 1px green;
}
#article .about.box-2{
	background-color: pink;
	color: red;
}
#article .about.box-2 p{
	font-size: 24px;
}
.about{
	border: solid 1px red;
	margin-bottom: 20px;
}
.about p, span{
	font-size: 16px;
	color: #424242;
	font-family: sans-serif;
}

#section{
	border: none;
}*/





body{
	font-size: 100%;
}


/*a[href^="#link"]{
	background-color: orange;
}

a[href*="google"]{
	background-color: red;
	color: white;
}

a[href*=".org"]{
	background-color: green;
	font-size: 24px;
}*/


#comb{
	border: solid 2px blue;
}

li:first-child + li{
	color: blue;
	background-color: red;
}

footer{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 20px 0;
	border: solid 2px green;
}
footer p{
	background-color: orange;
}

span ~ p{
	background-color: #3E2723;
	color: white;
}



#main-parent{
	background-color: lightgrey;
}
#main-parent span{
	display: block;
}

#main-parent > div{
	border: solid 1px red;
}














