*,
:after,
:before{
	box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
	font-family: 'Nunito Sans', sans-serif;
}
p{
	line-height: 1.45em;
}
.container{
	padding: 10px;
}
.container .main-head{
	text-align: center;
	font-size: 54px;
	color: #454545;
	margin-top: 25px;
}
.container h1 span{
	text-transform: uppercase;
}
.questions{
	background-color: #B3E5FC;
	width: 320px;
	min-height: 100px;
	padding: 20px 40px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	border-radius: 8px;
}
.questions ol{
	list-style-type: lower-alpha;
	color: #0277BD;
	font-size: 17px;
	line-height: 1.4em;
}
.types{
	padding-left: 40px;	
	font-weight: 800;
}




.element{
	margin-top: 20px;
}
.element h3{
	padding: 10px;
	color: #fff;
	background-color: #039BE5;

}
.element #address{
	padding: 10px;
	color: #424242;
}
/*.element #figure img{
	display: block;
	width: 100%;
}
*/
.element .article{
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 10px;
}
.element #article{
	background-color: #fff;
}
.element .post{
	background-color: #f2f2f2;
	padding: 10px;
	margin-bottom: 10px;
}
.element .post h4{
	color: #414141;
	margin-bottom: 8px;
}


.element #footer{
	background-color: #212121;
	color: #fff;
	padding: 20px 10px;
}
.element #footer p{
	float: left;
}
.element #footer .nav{
	float: right;
}
#footer:after{
	content: "";
	display: block;
	clear: both;
}
.element #footer .nav li{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.element #footer .nav li a{
	text-decoration: none;
	color: #fff;
}

.element #order-list{
	padding-left: 30px;
}
#order-list li{
	margin-bottom: 8px;
}



.element .blog{
	background-color: #EEE;
	padding: 8px 15px;
}
.element .blog h4{
	margin: 10px 0;
	font-size: 24px;
	color: #414141;
}
.element .blog h4:after{
	content: "";
	display: block;
	width: 120px;
	border-bottom: solid 2px #414141;
}
.element .blog .posts p{
	max-width: 245px;
	min-height: 100px;
	margin-right: 20px;
	padding-right: 10px;
	border-right: solid 2px #1E88E5;
}
.element .blog .posts #aside{
	max-width: 450px;
	margin-right: 20px;
	line-height: 1.4em;
	font-style: italic;
	color: #1976D2;
}
.element .blog .posts p{
	float: left;
}
.element .blog .posts aside{
	float: left;
}
.element .blog .posts:after{
	content: "";
	display: block;
	clear: both;
}


.element #quoted-list .author{
	text-align: center;
}
.element #quote{
	min-width: 320px;
	min-height: 60px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background-color: #EEE;
	padding: 8px 16px;
}
.element #quote p{
	color: #424242;
	font-size: 15px;
	line-height: 1.4em;
}
.element .quotes-list .author{
	color: #454545;
	font-size: 15px;
	margin-top: 20px;
	font-weight: 800;
}
.element #quote .author{
	color: #454545;
	font-size: 15px;
	margin-top: 20px;
}




.element .para p{
	color: #424242;
	font-size: 15px;
	border: solid 2px #039be5;
	padding: 5px;
	margin-bottom: 15px;
}




.element #canvas #draw-area{
	border: solid 4px #039be5;
}



.element .main-header{
	background-image: url(../images/banner-desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	height: 600px;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.element .main-header h4{
	color: #fff;
	font-size: 34px;
	letter-spacing: 5px;

}




.element #description span{
	display: block;
	font-weight: 800;
	font-size: 24px;
	color: #454545;
	margin-bottom: 14px;
}
.element #description dt{
	font-weight: 800;
	font-size: 18px;
	color: #212121;
}
.element #description dd{
	margin-bottom: 10px;
}



.element #section{
	padding-left: 25px;
	border: solid 1px blue;
}
.element #section h2{
	color: #454545;
	font-size: 24px;
	margin-bottom: 10px;
}




.element #header{
	display: flex;
	min-height: 60px;
	align-items: center;
	justify-content: space-between;
	background-color: #FFF;
}
.element #header nav ul{
	list-style: none;
}
.element #header nav ul li{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding: 8px 20px;
	background-color: #039be5;
	border-radius: 6px;
}
.element #header nav ul li a{
	text-decoration: none;
	color: #fff;
}
.element #header nav ul li:hover{
	background-color: #0277BD;
}
.element main{
	background-color: #E3F2FD;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 12px 20px;
	color: #212121;
}




.element #sports #name{
	width: 160px;
	border: solid 1px lightgrey;
	margin-bottom: 15px;
}

#lorem{
	font-size: 50%;
	border: solid 1px blue;
}


















